[submodule "source/models/lib/Mask3D"]
	path = source/models/lib/Mask3D
	url = https://github.com/pratik-adhikari/Mask3D.git
	branch = dev

[submodule "source/models/lib/OneFormer3D"]
	path = source/models/lib/OneFormer3D
	url = https://github.com/pratik-adhikari/oneformer3d.git
	branch = dev

[submodule "source/models/lib/OpenMask3D"]
	path = source/models/lib/OpenMask3D
	url = https://github.com/pratik-adhikari/openmask3d.git
	branch = dev
